@font-face {
	font-family: 'NovaFlat Regular';
	src: url('NovaFlat-Regular.eot');
	src: url('NovaFlat-Regular.eot?#iefix') format('embedded-opentype'),
		url('NovaFlat-Regular.woff') format('woff'),
		url('NovaFlat-Regular.ttf') format('truetype');
}