@charset "UTF-8";
article, aside, footer, header, main, nav, section{
	display: block;
}
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
		padding: 0;
		margin: 0;
}

body {
	
	background-image: url("astronomy-black-wallpaper-constellation-2150.jpg"); /*background image*/
	background-color: #cccccc; /* Used if the image is unavailable */
	/* height: 500px;  */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container*/
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	background-attachment: fixed;
}

.main_1 {
	position: absolute; 
		left: 50px; 
		top: 850px; 
	
	
}

.main_2 {
	position: absolute; 
		left: 500px; 
		top: 1370px; 
	
}

.main_3 {
	position: absolute; 
		left: 950px; 
		top: 850px; 
	
	
}

.main_4{
	position: absolute; 
		left: 500px; 
		top: 2200px; 
}

.img_1 {
	position: absolute; 
		left: 35px; 
		top: 75px; 
}

#explanation_paragraph{
	
	background-image: url("earth-space.jpg"); /*background image*/
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1_1{
	position: absolute; 
		left: 380px; 
		top: 100px; 
	font-size: 100px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.p_1 {
	position: absolute; 
		left: 450px; 
		top: 250px; 
	font-size: 25px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.p_2{
	font-size: 14px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	position: absolute; 
		left: 500px; 
		top: 80px;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

/* .p_3{
	font-size: 14px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	position: absolute; 
		left: 550px; 
		top: 80px;
	text-shadow:
    /* Outline *//*
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
} */

.divider_1{
	position: absolute;
		top: 340px;
		left: 0px;
}

.divider_2{
	position: absolute;
		top: 750px;
		left: 0px;
}

.paragraph_1{
	position: absolute; 
		left: 0px; 
		top: 400px; 
	font-size: 25px;
	color: rgb(0,68,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.tag_text_1{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
	
}

.tag_text_2{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
}

.tag_1{
	position: absolute;
	left: 3px;
	top: 830px; 
}

.tag_2{
	position: absolute;
	left: 3px;
	top: 2000px; 
}