@charset "UTF-8";
article, aside, footer, header, main, nav, section{
	display: block;
}
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
		padding: 0;
		margin: 0;
}

body {
	
	background-image: url("astronomy-black-wallpaper-constellation-2150.jpg"); /*background image*/
	background-color: #cccccc; /* Used if the image is unavailable */
	/* height: 500px;  */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container*/
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	background-attachment: fixed;
}

.main_1 {
	position: absolute; 
		left: 50px; 
		top: 850px; 
}

.main_2 {
	position: absolute; 
		left: 500px; 
		top: 1370px; 
}

.main_3 {
	position: absolute; 
		left: 950px; 
		top: 850px; 
}

.main_4{
	position: absolute; 
		left: 500px; 
		top: 2200px; 
}

.img_1 {
	position: absolute; 
		left: 35px; 
		top: 75px; 
}


.h1_1{
	position: absolute; 
		left: 380px; 
		top: 100px; 
	font-size: 100px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.p_1 {
	position: absolute; 
		left: 450px; 
		top: 250px; 
	font-size: 25px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.p_2{
	font-size: 14px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	position: absolute; 
		left: 500px; 
		top: 80px;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}


.divider_1{
	position: absolute;
		top: 340px;
		left: 0px;
}

.divider_2{
	position: absolute;
		top: 750px;
		left: 0px;
}

.paragraph_1{
	position: absolute; 
		left: 0px; 
		/*or
		left:-200px; */
		top: 360px; 
	font-size: 25px;
	color: rgb(255,255,255);
	font-family: 'Nova Flat', cursive;
	text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.tag_text_1{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
	
}

.tag_text_2_1{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
}


.tag_1{
	position: absolute;
	left: 4px;
	top: 830px; 
}

.tag_2{
	position: absolute;
	left: 4px;
	top: 2000px; 
}

.tooltip {
	position: relative;
		left: 100px;
		top: 2500px;
    display: inline-block;
    border-bottom: 1px dotted rgba(3, 3, 3, 0.466); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
	z-index: 2;
	width: 120px;
		bottom: 100%;
		left: 50%; 
		margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.line_1{
	margin-left: 5px;
	margin-left: 6px;
	font-family: 'Source Sans Pro', sans-serif;
}

.hover_over{
	font-family: 'Ubuntu Mono', monospace;
	color: rgba(0, 0, 0, 0.979);
	font-size: 16px;
}


/* 
    font-family: 'Gamja Flower', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Kosugi Maru', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poor Story', cursive;
    font-family: 'Baloo Tammudu', cursive;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Patua One', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nanum Gothic Coding', monospace;
*/