@charset "UTF-8";
article, aside, footer, header, main, nav, section{
	display: block;
}
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
		padding: 0;
		margin: 0;
}

body {
	/*background-color: rgb(255,255,255);*/
	background-image: url("test_background_1.jpg");/*backgroun image*/
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container*/
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}

.main {
	position: absolute; 
		left: 300px; 
		top: 20px; 
}

.img_1 {
	position: absolute; 
		left: 40px; 
		top: 60px; 
}
