@charset "UTF-8";
.tooltip_2 {
	position: relative;
		left: -150px;
		top: 3600px;
    display: inline-block;
    border-bottom: 1px dotted rgba(3, 3, 3, 0.466); /* If you want dots under the hoverable text */
}



/* Tooltip text */
.tooltip_2 .tooltiptext_2 {
    visibility: hidden;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 0;
    border-radius: 6px;
 
    /* Position the tooltip text */
    position: absolute;
	z-index: 3;
	/*second part*/
	width: 140px;
		bottom: 100%;
		left: 50%; 
		margin-left: -90px; 
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_2:hover .tooltiptext_2 {
    visibility: visible;
}

.line_1{
	margin-left: 5px;
	margin-left: 6px;
	font-family: 'Source Sans Pro', sans-serif;
}

.hover_over{
	font-family: 'Ubuntu Mono', monospace;
	color: rgba(0, 0, 0, 0.979);
	font-size: 16px;
}