@charset "UTF-8";

form{
    /* background-color: rgb(153, 153, 153); */
}

input {
  /* background-color: rgba(58, 58, 58, 0.473); */

}
input[type=text],input[type=password],input[type=number],input[type="email"],input[type="tel"]{
    background-color: rgba(58, 58, 58, 0.473);
}

input[type=search]{
  background-color: rgba(235, 235, 235, 0.521);
}

fieldset:nth-of-type(3n+1) {
  background: rgb(4, 0, 255);
}
fieldset:nth-of-type(3n+2) {
  background: rgb(255, 0, 0);
}
fieldset:nth-of-type(3n+3) {
  background: rgb(0, 255, 34);
}
