@charset "UTF-8";

body {
	font-family: 'Lato', sans-serif;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: var(--partially_transparent);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay_content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 10px;
	text-decoration: none;
	font-size: 36px;
	color: var(--text_secondary);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: var(--text-color);;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 500px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.nav_activate{
	font-size:30px;
	cursor:pointer;
	color:var(--text-color);
	position:fixed;
	z-index: 50;
}
