@charset "UTF-8";

/* basic area element */
.area{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}
.inside { grid-area: 1 / 1 / 2 / 2; }

/* center contents inside */
.center{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    gap: 0px 0px;
}
/* the area inside the css grid that is in the center */
.centered { grid-area: 2 / 2 / 3 / 3; }
/* uses flexbox to center the contents of the element it is placed on */
.center_contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.soon{
    height: 40vh;
}
/* black bar */
/* black bar main */
.blk_bar {
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    height: 16vh;
}
/* black bar outside */
.blk_bar_center { grid-area: 2 / 2 / 3 / 3; color: white; font-size: 2rem;} 

/* slide show */
/* base css grid class */
.sld_show {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 5fr 0.3fr 2fr;
    gap: 0px 0px;
    height: 90vh;
}

/* the description of what will be found in the image gallery*/
/* the base css grid for this section */
.top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1.5fr 2fr;
    gap: 0px 0px;
    grid-area: 1 / 2 / 2 / 3;
}
/* styling for the text and the area it takes up,
uses css flex to center its self*/
.what { 
    grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.493);
}

/* images that go in the slides */
.mySlides {
    display: none;
}
.image { grid-area: 2 / 2 / 3 / 3; }
.img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.img_1{
    height: 100%;
    background-image: url("../idea page_1.jpg") !important;
    /* background-color: rgb(255, 0, 255); */
}
.img_2{
    height: 100%;
    background-image: url("../../docs/to be drawn.jpg") !important;
    /* background-color: rgb(255, 0, 21); */
}

/* styling for the next and previous image buttons on the inside of the image area
which are for the phone screen size (for the responsive design of this page) */
.img_area {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 0px 0px;
    grid-area: 2 / 2 / 3 / 3;
}
/* previous image */
.prev_ { 
    grid-area: 2 / 1 / 3 / 2;
    visibility:hidden
}
/* next image */
.next_ { 
    grid-area: 2 / 3 / 3 / 4;
    visibility:hidden
}

/* the description of what the currently selected slide shows*/
/* the base css grid for this section */
.caption-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 0px 0px;
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
	background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}
/* styling for the text and the area it takes up,
uses css flex to center its self*/
#Caption{
    display: flex;
    justify-content: center;
    align-items: center;
	color: rgb(255, 255, 255);
	animation-name: zoom;
	animation-duration: 0.6s;
}
.about { grid-area: 2 / 2 / 3 / 3; 
    /* background-color: rgb(25, 0, 250); */
}

/* the styling for the button on the right side of the screen */
/* the base css grid for this section */
.right {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0px 0px;
    grid-area: 2 / 3 / 3 / 4;
}
/* next image */
.next { grid-area: 2 / 1 / 3 / 2; }
/* the styling for the button on the left side of the screen */
/* the base css grid for this section */
.left {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0px 0px;
    grid-area: 2 / 1 / 3 / 2;
}
/* previous image */
.prev { grid-area: 2 / 2 / 3 / 3; }
/* the tabs at the bottom of the slide show that allow you to go between multiple images */
/* the base css grid for this section */
.tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr 5fr) 1fr;
    grid-template-rows: 1fr;
    gap: 0em 0em;
    grid-area: 4 / 1 / 5 / 4;
}

.grd_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
/* grid area 1 */
.grd_1 { 
    grid-area: 1 / 2 / 2 / 3;
	width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.grd_img_1{
    background-image: url('../../docs/idea page_1.jpg') !important; 
}
/* grid area 2 */
.grd_2 { 
    grid-area: 1 / 4 / 2 / 5; 
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.grd_img_2{
    background-image: url('../../docs/to be drawn.jpg') !important; 
}
/* grid area 3 */
.grd_3 { 
    grid-area: 1 / 6 / 2 / 7;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
/* .grd_img_2{
    background-image: url('../to be drawn.jpg'); 
} */
/* grid area 4 */
.grd_4 { 
    grid-area: 1 / 8 / 2 / 9;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
/* .grd_img_2{
    background-image: url('../to be drawn.jpg'); 
} */
/* grid area 5 */
.grd_5 { 
    grid-area: 1 / 10 / 2 / 11; 
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
/* .grd_img_2{
/* general styling for the next and previous image buttons in the image gallery */
.next,
.prev_,
.next_ {
	text-shadow:
	/* Outline */
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000,  
	-2px 0 0 #000000,
	2px 0 0 #000000,
	0 2px 0 #000000,
	0 -2px 0 #000000;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev:hover,
.next:hover,
.prev_:hover,
.next_:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Add a transparency effect for thumbnail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.cursor {
    cursor: pointer;
}

.demo {
    opacity: 0.6;
}

/* the image gallery styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 10vw); 
    grid-gap: 1.0rem; 
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.gallery__item--1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(0, 204, 255);
}

.gallery__item--2 {
    grid-area: 1 / 2 / 2 / 3; 
    background-color: rgb(212, 0, 255);
}

.gallery__item--3 {
    grid-area: 1 / 3 / 2 / 5; 
    background-color: rgb(255, 0, 0);
}


.gallery__item--4 {
    grid-area: 2 / 4 / 3 / 5; 
    background-color: rgb(0, 255, 0);
}

.gallery__item--5 {
    grid-area: 3 / 4 / 5 / 5; 
    background-color: rgb(0, 0, 255);
}

.gallery__item--6 {
    grid-area: 4 / 3 / 5 / 4; 
    background-color: rgb(140, 0, 255);
}

.gallery__item--7{
    grid-area: 4 / 1 / 5 / 3; 
    background-color: rgb(255, 123, 0);
}

.gallery__item--8{
    grid-area: 3 / 1 / 4 / 2; 
    background-color: rgb(238, 255, 0);
}

.gallery__item--9{
    grid-area: 2 / 2 / 4 / 4; 
    background-color: rgb(255, 0, 149);
}

/* link section */
.links_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1% 1%;
    height: 90vh;
}
  
.L1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr repeat(2, 2fr 1fr);
    gap: 0px 0px;
    grid-area: 1 / 1 / 2 / 2;
}
  
.image_area { grid-area: 2 / 2 / 4 / 4; background-color: rgba(255, 0, 0, 0.514);}
  
.go_to_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0px 0px;
    grid-area: 5 / 1 / 6 / 5;
    background-color: rgba(128, 128, 128, 0.514);
}

.BG { grid-area: 1 / 1 / 7 / 5; background-color: rgba(0, 0, 0, 0.61);}

.single_line_text { 
    grid-area: 2 / 2 / 3 / 3; 
    background-color: rgb(0, 0, 255);
    outline-color: rgb(0, 0, 0);
    outline-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    /* temp until I fix the issue with the link section */
    font-size: 1.5rem;
}

.L2 { grid-area: 2 / 2 / 3 / 3; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr repeat(2, 2fr 1fr);
    gap: 0px 0px;
    grid-area: 2 / 2 / 3 / 3;
}
  
.L3 { grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr repeat(2, 2fr 1fr);
    gap: 0px 0px;
    grid-area: 1 / 3 / 2 / 4;
}

.image_1 { 
    background-image: url('../link imgs/astronomy-discovery-earth-2422.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 55%;
}
.image_2 { 
    background-image: url('../link imgs/blooming-blur-close-up-459059.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.image_3 { 
    background-image: url('../link imgs/blur-close-up-cloth-459486.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
