@charset "UTF-8";

@media only screen and (min-width: 1200px){
    .blk_bar{
        
    }
}

@media only screen and (min-width: 992px) {
    
} 

@media only screen and (min-width: 768px){
    
}

@media only screen and (max-width: 768px){
    .top { grid-area: 1 / 1 / 2 / 4; }
}

@media only screen and (min-width: 600px) {

} 

@media only screen and (max-width: 600px) 
{
    .tabs{
        display: none;
    }
    .right{
        display: none;
    }
    .left{
        display: none;
    }
    .prev_ { 
        visibility:visible;
    }
    .next_ { 
        visibility:visible;
    }
    .sld_show {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.5fr 3fr 0.3fr 0.3fr;
        gap: 0px 0px;
    }
    .image { grid-area: 2 / 1 / 4 / 4; }
    .img_area { grid-area: 2 / 1 / 4 / 4; }
    .caption-container  { grid-area: 4 / 1 / 5 / 4; }
}