@charset "UTF-8";
@import url("../webfonts/PermanentMarker_Regular/stylesheet.css");
@import url("../webfonts/NovaSquare/stylesheet.css");
@import url("../webfonts/NovaFlat_Regular/stylesheet.css");

article, aside, footer, header, main, nav, section{
  display: block;
}
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(128, 128, 128);
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 400;
}
/* theme switch */
#page {
  background: var(--bg-color);
  color: var(--text-color);
}
/* I wanted to put this in :root but it seams to not work when I do that so it has to be here */
.theme-switch:checked + #page{
  --text-color: var(--light_text);
  --bg-color: var(--light_bg);
  --shadow_color: var(--light_shadow);
  --secondary_color: var(--light_secondary);
  --tertiary_color: var(--light_tertiary);
  --link_color: var(--light_link);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* temp */
.center{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  gap: 0px 0px;
}
/* the area inside the css grid that is in the center */
.centered { grid-area: 2 / 2 / 3 / 3; }
/* uses flexbox to center the contents of the tag it is placed on */
.center_contents{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* temp */
