@charset "UTF-8";

/* create the background for text */
/* light mode */
.txt_section_light{
    background-color: rgb(255, 255, 255);
}
/* dark mode */
.txt_section_dark{
    background-color: rgb(0, 0, 0);
}
/* these create the font settings for text sections */
/* light mode */
.txt_light{
    color: rgb(0, 0, 0);
    font-size: 1em;
}
/* dark mode */
.txt_dark{
    color: rgb(255, 255, 255);
    font-size: 1em;
}
/* only works on block level not something like span */
.indent{
    text-indent: 2em;
}
/* standard styling for bold tag, I wish that these numbers had a bigger effect on the text */
b{
    font-weight: 900;
}
/* normal text */
p{
    font-weight: 100;
}
/* standard css for the italicize tag (I wish I could use numbers) */
i{
    font-style: italic;
}
/* standard css for the strong tag */
strong{
    font-weight: 900;
}
/* standard css for the emphasize tag (I wish I could use numbers) */
em {
    font-style: italic;
}
/* standard css for the mark tag */
mark {
    background-color: rgb(255, 255, 0);
}
/* standard css for the small tag */
small{
    font-size: smaller;
}
/* standard css for the delete tag */
del {
    text-decoration: line-through;
}
/* standard css for the insert tag */
ins {
    text-decoration: underline;
}
/* standard css for the subscript tag (I wish I could use numbers) */
sub {
    vertical-align: sub;
    font-size: smaller;
}
/* standard css for the superscript tag (I wish I could use numbers) */
sup {
    vertical-align: super;
    font-size: smaller;
}
/* css for canceling out the visual part of the em tag, this does not remove screen reader functionality from what I can tel */
.cancel_em{
    font-style: normal;
}
/* css for canceling out the visual part of the strong tag, this does not remove screen reader functionality from what I can tel */
.strong_cancel{
    font-weight: 100;
}
/* use css to bold elements (it is not recommended to use this, use b instead inside the html, like that you get better semantics) */
.bold{
    font-weight: 900; 
}
/* use css to italicize elements (it is not recommended to use this, use i instead inside the html, like that you get better semantics) */
.italics{
    font-style: italic;
}
/* standard css for the hyperlinks */
a{
    text-decoration: underline;
}
/* yellow highlight */
.highlight_y{
    background-color: rgb(255, 255, 0);
}
/* blue highlight */
.highlight_b{
    background-color:rgb(0, 191, 255);
}
/* cyan highlight */
.highlight_c{
    background-color: rgb(0, 255, 255);
}
/* green highlight */
.highlight_g{
    background-color:rgb(157, 255, 10);
}
/* purple highlight */
.highlight_p{
    background-color:rgb(245, 29, 198);
}
/* red highlight */
.highlight_r{
    background-color:rgb(255, 0, 0);
}
/* yellow text color */
.color_y{
    color: rgb(255, 255, 0);
}
/* blue text color */
.color_b{
    color: rgb(0, 191, 255);
}
/* cyan text color */
.color_c{
    color: rgb(0, 255, 255);
}
/* green text color */
.color_g{
    color: rgb(157, 255, 10);
}
/* purple text color */
.color_p{
    color: rgb(245, 29, 198);
}
/* red text color */
.color_r{
    color: rgb(255, 0, 0);
}
/* generic image styling */
img{
    height: 50%;
    max-height: 600px;
}
h1{
    display: block;
    font-size: 3em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 2.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 2.17em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1.85em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: 1.53em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 1.27em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/* normalize css */
