@charset "UTF-8";
:root {
	/* dark */
	--dark_bg: rgb(0, 0, 0);
	--dark_text: rgb(255, 255, 255);
	--dark_link: rgb(20, 35, 255);
	/* light */
	--light_bg: rgb(255, 255, 255);
	--light_text: rgb(0, 0, 0);
	--light_link: rgb(53, 18, 209);
	/* Default mode */
	--text-color: var(--dark_text);
	--bg-color: var(--dark_bg);
	--link_color: var(--dark_link);
}
