.parallax {
    /* The image used */
    background-image: url("bright-clouds-cold-618833.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-e-2{
    height:1000px;
    background-image: url("clouds-cloudy-conifers-247478.jpg");
    font-size:36px
}
