@font-face {
	font-family: 'NovaSquare';
	src: url('NovaSquare.eot');
	src: url('NovaSquare.eot?#iefix') format('embedded-opentype'),
		url('NovaSquare.woff') format('woff'),
		url('NovaSquare.ttf') format('truetype');
}