@charset "UTF-8";
@import url("file:///C|/Users/george habinyak/Documents/GitHub/My-ideas/webfonts/PermanentMarker_Regular/stylesheet.css");
@import url("../webfonts/NovaSquare/stylesheet.css");
@import url("../webfonts/NovaFlat_Regular/stylesheet.css");


article, aside, footer, header, main, nav, section{
	display: block;
}
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}
@media only screen and (max-width: 1280px){
	.column-1{

	}

	.column-2{

	}
}

