@charset "UTF-8";
@media only screen and (min-width: 1280px) {
	.contrast {-webkit-filter: contrast(140%);filter: contrast(140%);}
	.brightness {-webkit-filter: brightness(130%);filter: brightness(130%);}
/* 	body, html {
		height: 100%;
		margin: 0;
		font: 400 15px "Lato", sans-serif;
    color: #777
	} */
	.column {
		float: left;
		width: 11.2%;
		margin-left:0.8%;
		margin-right:0.8%;
	}
	.slide_show{
		position: absolute;
		left: 20%;
		top: 5%;
		width: 50%;
	}
	.img_1{
		margin-right: 00%;
		position: relative;
			left: 15%;
		height: 70%;
		width: 60%;
	}
	.img_2{
		margin-right: -30%;
		height: 100%;
		width: 60%;
	}
	.prev,
	.next {
		top: 30%;
	}
	.next {
		left: 95%;
		top: 190px;
		width: 7%;
	}
	.prev{
		left: 28%;
		top: 190px;
		width: 7%;
	}
	#explaintxt{
		margin-left: 216px;
		padding-left: 0px;
	}
	.numbertext {
		position: absolute;
			top: 68%;
			left: 62%;
		color: rgb(255,255,255);
		font-size: 0.8rem;
	}
	#explainhead{
		font-size:40px;
		text-align: center;
		padding: 80px;
		/*padding*/
		padding-bottom: 5px;
		margin-bottom: 15px;
		padding-top: 25px;
		margin-top: 0px;
		color: rgb(255, 255, 255);
		z-index: 2;
		line-height: 0.9;
	}
	.sld-txt{
		left: 48%;
	}
	/* .bottom_text{
		
	} */
	.caption-container {
		margin-left: 25%;
		width:80%;
		height:10%;
	}
	.row{
		margin-left: 2%;
	}
	.grd-contain{
		margin-left: -10%;
	}
	.grd-container {
		grid-gap: 0.5rem;
		grid-template-columns: repeat(6, 20%);
		grid-template-rows: repeat(1, 10%);
	}
}

/* @media only screen and (min-width : 705px){
	#explaintxt{
		margin-left: 0%;
	}
	.sld-txt{
		left: 38%;
	}
	.img_1{
		margin-right: 00%;
		position: relative;
			left: 5%;
		height: 70%;
		width: 70%;
	}
} */

@media only screen and (max-width : 705px) {
	#explaintxt{
		margin-left: 0%;
	}
	.explain{
		display: none;
	}
	.img_1{
		margin-right: 00%;
		position: relative;
			right: 44%;
		height: 70%;
		width: 30%;
	}

	.img_2{
		position: relative;
		margin-right: 0%;
		left: -31%;
		padding-left: 00px;
		margin-right: 22%;
		height: 70%;
		width: 50%;
	}
	.sld-txt{
		left: -13%;
	}
	.next {
		position: absolute;
		left: 32%;
		top: 33%;
	}

	.prev{
		position: absolute;
		left: -30%;
		top: 33%;
	}
	.caption-container {
		width:80%;
		height:10%;
		position: relative;
		left: -34%;
	}
	.grd-container{
		position: relative;
		left: -60%;
	}
	.numbertext {
		z-index: 10;
		top: 57%;
		left: 1%;
	}
}

@media only screen 
and (max-width : 460px) 
/* and (orientation : landscape) */
{
	.sld-txt{
		left: 10%;
		right: 0px;
	}

	.img_1{
		padding-left: 0px;
		margin-right: 0%;
		position: relative;
			left: -20%;
			right: 0px;
		height: 90vh;
		width: 100%;
	}

	.img_2{
		padding-left: 0px;
		margin-right: 0%;
		position: relative;
			left: -20%;
			right: 0px;
		height: 90vh;
		width: 100%;
	}
	
	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
			top: 45%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		border-radius: 20px 20px 20px 20px;
		width: 40px;
	}

	/* Position the "next button" to the right */
	.next {
		left: 70%;
	}

	.prev{
		left: -20%;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.767);
	}	

	/* Number text (1/3 etc) */
	.numbertext {
		color: #000000;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
			left: 25%;
			top: 87%;
	}

	.explain{
		display: none;
	}
	.grd-container{
		display: none;
	}

	* {
	box-sizing: border-box;
	}

	/* Position the image container (needed to position the left and right arrows) */
	.container {
	position: relative;
	}

	/* Hide the images by default */
	.mySlides {
	display: none;
	}

	/* Add a pointer when hovering over the thumbnail images */
	.cursor {
	cursor: pointer;
	}

	/* Container for image text */
	.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
	left: 0%;
	width: 100%;
	}

	/* Six columns side by side */
	.column {
	float: left;
	width: 16.66%;
	}

	/* Add a transparency effect for thumnbail images */
	.demo {
	opacity: 0.6;
	}

	.active,
	.demo:hover {
	opacity: 1;
	}

	.slide_show{
		left: 20%;
		top: 5%;
	width: 100%;
	height: 70%;
	}
	
}
