@charset "UTF-8";
@media only screen and (max-width: 1280px) {
	.contrast {-webkit-filter: contrast(140%);filter: contrast(140%);}
	.brightness {-webkit-filter: brightness(130%);filter: brightness(130%);}
/* 	body, html {
		height: 100%;
		margin: 0;
		font: 400 15px "Lato", sans-serif;
    color: #777
	} */
	.slide_show{
	  position: absolute;
		left: 350px;
		top: 30px;
	}
	.img_1{
		height: 355px;
		width: 255px;
	}

	.img_2{
		height: 355px;
		width:  255px;
	}
	.next {
	  position: absolute;
		left: 470px;
		top: 190px;
	}

	.prev{
	  position: absolute;
		left: 140px;
		top: 190px;
	}
	#explaintxt{
		margin-left: 216px;
		padding-left: 0px;
	}
	.numbertext {
	  position: absolute;
		top: 357px;
		left: 310px;
	  color: rgb(255,255,255);
	  font-size: 10px;
	}
	#explainhead{
		font-size:40px;
		text-align: center;
		padding: 80px;
		/*padding*/
		padding-bottom: 5px;
		margin-bottom: 15px;
		padding-top: 25px;
		margin-top: 0px;
		text-align: justify;
		color: rgb(255, 255, 255);
		font-family: "PermanentMarker Regular";
		z-index: 2;
		text-align: center;
		line-height: 0.9;
		text-shadow:
		/* Outline */
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
	}
}
