@charset "UTF-8";

@media only screen and (max-width: 1290px){
	.title_text{
    position: relative;
        top: 50%;
        left: 42%;
    width: 20%;
	}
	.p_1{
		height:115vh;
	}
	.p_1text{
    position: relative;
        top: 10%;
		left: 10%;
	width: 80%;
	}
	.sld-txt{
		width: 25%;
		left: 35.5%;
	}
	.numbertext{
		top: 72%;
		left: 53%;
	}
	.p_2text{
    position: relative;
        left: 35%;
	font-size: 2.5rem;
	width: 30%;
	}
} 

@media only screen and (max-width: 1139px){
	.p_1{
		height:140vh;
	}
}

@media only screen and (max-width: 936px){
	.p_1{
		height:180vh;
	}
}

@media only screen and (max-width: 762px){
	.p_1{
		height:190vh;
	}
}

@media only screen and (max-width : 705px){
	.p_1{
		display: none;
	}
	.p_2{
		height: 130vh;
	}
	.desc_1{
		font-size: 1.3rem;
	}
	.container{
		width: 90%;
	}
	.gallery{
		grid-template-rows: repeat(4, 20vw);
	}
	.p_2text{
		font-size: 2rem;
		width: 39%;
	}
}

@media only screen and (max-width : 460px) {
	.title_text{
        top: 48%;
        left: 30%;
	}
	.desc_1{
		margin-bottom: 6%;
	}
	.p_2text{
		left: 20%;
		width: 60%;
	}
	.p_2{
		height: 100vh;
	}
}
