@charset "UTF-8";
@media only screen and (max-width: 1280px) {
	.slide_show{
	  position: absolute;
		left: 350px;
		top: 30px;
	}
	.img_1{
		height: 355px;
		width: 255px;
	}

	.img_2{
		height: 355px;
		width:  255px;
	}
	.next {
	  position: absolute;
		left: 470px;
		top: 190px;
	}

	.prev{
	  position: absolute;
		left: 140px;
		top: 190px;
	}
}
