@charset "UTF-8";
@import url("file:///C|/Users/george habinyak/Documents/GitHub/My-ideas/webfonts/PermanentMarker_Regular/stylesheet.css");
@import url("../webfonts/NovaSquare/stylesheet.css");
@import url("../webfonts/NovaFlat_Regular/stylesheet.css");


article, aside, footer, header, main, nav, section{
	display: block;
}
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}

.contrast {-webkit-filter: contrast(140%);filter: contrast(140%);}
.brightness {-webkit-filter: brightness(130%);filter: brightness(130%);}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    /*color: #777*/
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("bright-clouds-cold-618833.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("clouds-cloudy-conifers-247478.jpg");
  min-height: 800px;
}

.bgimg-3 {
  background-image: url("arch-bridge-clouds-814499.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("abandoned-forest-hd-wallpaper-34950.jpg");
  height: 100%;
}

.caption1 {
  position: absolute;
    left: 0;
    top: 50%;
  width: 100%;
  text-align: center;
}

.caption1 span.border {
	color: rgb(255, 255, 255);
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
  font-family: "NovaFlat Regular";
  background-color: rgba(39, 39, 39, 0.692)
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  /*font: 20px "Lato", sans-serif;*/
  color: rgb(255, 255, 255);
}

/* Turn off parallax scrolling for tablets and phones
@media only screen and (max-device-width: 1024px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
background-attachment: scroll;
}
} */

/* -1 */

.parallax {
  /* The image used */
  background-image: url("bright-clouds-cold-618833.jpg");
  z-index: 1;
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-e-2{
  z-index: 3;
  height:1000px;
  background-image: url("clouds-cloudy-conifers-247478.jpg");
  font-size:36px
}

.explain{
  background-image: url(arch-bridge-clouds-814499.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#explaintxt{
	/*background-color: rgb(255, 255, 255);*/
	text-align: center;
	padding: 80px;
	/*padding*/
	padding-bottom: 20px;
	margin-bottom: 0px;
	padding-top: 15px;
	margin-top: 5px;
	padding-left: 320px;
	margin-left: 5px;
	text-align: justify;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-family: "NovaSquare";
  z-index: 2;
  text-shadow:
    /* Outline */
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000,  
  -2px 0 0 #000000,
  2px 0 0 #000000,
  0 2px 0 #000000,
  0 -2px 0 #000000;
}

#explainhead{
	text-align: center;
	padding: 80px;
	/*padding*/
	padding-bottom: 5px;
	margin-bottom: 15px;
	padding-top: 25px;
	margin-top: 0px;
	text-align: justify;
	color: rgb(255, 255, 255);
	font-family: "PermanentMarker Regular";
	z-index: 2;
	text-align: center;
	font-size: 47px;
  line-height: 0.9;
  text-shadow:
    /* Outline */
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000,  
  -2px 0 0 #000000,
  2px 0 0 #000000,
  0 2px 0 #000000,
  0 -2px 0 #000000;
}

.slide_show{
  position: absolute;
    left: 400px;
    top: 30px;
  width: 1000px;
  height: 800px;
}

.img_1{
	height: 455px;
	width: 355px;
	
}

.img_2{
	height: 455px;
	width:355px;
}
.sld-txt{
  background-color: rgba(255, 255, 255, 0.555);
  width: 200px;
  position: relative;
    right: -33%;
  margin-bottom: 5px;
}
