@charset "UTF-8";

.caption {
  position: absolute;
    left: 0;
    top: 30px;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.caption span.border {
  background-color: rgba(49, 49, 49, 0.692);
  color: rgb(255, 255, 255);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'Nova Flat', cursive;
}

.body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  text-shadow:
    /* Outline */
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000,  
  -2px 0 0 #000000,
  2px 0 0 #000000,
  0 2px 0 #000000,
  0 -2px 0 #000000;
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	/* left: -148px; */
}

/* Position the buttons where they are supposed to be */
.next {
  position: absolute;
    left: 51%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  width: 50px;
}

.prev{
  position: absolute;
    left: 9%;
  right: 0;
  border-radius: 20px 20px 20px 20px;
  width: 50px;
}

/* On hover, add a background */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  position: absolute;
    left: 300px;
    top: 455px;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(36, 36, 36);
  padding: 2px 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 2px;
  width: 74%;
}

/* .bottom_text{
  padding-top: 12px;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 12%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

