@charset "UTF-8";
article, aside, footer, header, main, nav, section{
    display: block;
}
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(128, 128, 128);
    /* Used if the image is unavailable */
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 2%;
    height: 70%;
}
.L-1{
    grid-area: 1 / 1 / 2 / 2;
}
.L-2{
    grid-area: 2 / 2 / 3 / 3;
}
.L-3{
    grid-area: 1 / 3 / 2 / 4;
}

.link-grp{
    background-color: rgb(209, 209, 209);
}

/* 
    font-family: 'Gamja Flower', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Kosugi Maru', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poor Story', cursive;
    font-family: 'Baloo Tammudu', cursive;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Patua One', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nanum Gothic Coding', monospace;
*/
