@charset "UTF-8";
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

@media only screen and (max-width: 1920px) {
	.title_text{
		position: relative;
			top: 285px;
			left: 315px;
	}
	.link-bg_1{
		position: relative;
			top: 50px;
			left: 480px;
	}
	.link-bg_2{
	position: relative;
		top: 90px;
		left: 100px;
	}

	.link-bg_3{
		position: relative;
			top: -225px;
			left: 850px;
	}
	.p_2text{
	position: relative;
		top: 900px;
		left: 400px;
	}
}
