@charset "UTF-8";
@media only screen and (max-width: 1290px){
    .title_text{
        position: relative;
        top: 36%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        height: 60.6667px;
        width: 610.2px;
    }
    .p_1{
        height: 450px;
        padding-left: 50px;
        padding-top: 50px;
    }
    .p_1text{
        font-size: 18px;
    }
    .p_2text{
        position: relative;
        top: 900px;
        left: 400px;
    }
    .lnk-img{
    width: 60%;
    }
}
@media only screen and (max-width : 705px) {
    .title_text{
        position: relative;
        top: 40%;
        left: 0px;
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        padding: 3%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .links{
        height: 60%;
    }
    .link-grp{
    width: 90%;
    height: 90%;
    }
    .p_2text{
        top: 800px;
        left: 150px;
    }
}

@media only screen and (max-width : 460px) 
/* and (orientation : landscape) */
{
    .title_text{
        position: relative;
        top: 31%;
        left: 0px;
        font-size: 1.6rem;
        font-weight: bold;
        width: 100%;
        padding: 3%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .p_1text{
        font-size: 1.1rem;
    }
    .p_1{
        display: none;
    }
}
