@charset "UTF-8";
@media only screen and (max-width: 1290px){
    .title_text{
        position: relative;
        top: 45%;
        margin-top: 0px;
        width: 53%;
    }
    .p_1{
        height:65vh;
        padding-left: 0px;
        padding-top: 0px;
    }
    .p_1text{
        font-size: 1.2rem;
    }
    .grid-container{
        gap: 5em 18em;
    }
    .endtext{
            top: 87%;
            left: 32%;
        width: 38%;
    }
}
@media only screen and (max-width : 705px) {
    .title_text{
        top: 43%;
        left: 0px;
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        padding: 3%;
    }
    .parallax_2{
        height: 115vh;
    }
    .contain{
        width: 95%;
        height: 80vh;
    }
    .grid-container{
        gap: 2em 2em;
    }
    .endtext{
        top: 86%;
        left: 20%;
        width: 65%;
    }
}

@media only screen and (max-width : 460px) 
/* and (orientation : landscape) */
{
    .title_text{
        top: 47%;
        font-size: 1.8rem;
    }
    .p_1text{
        font-size: 1.1rem;
    }
    .p_1{
        display: none;
    }
    .parallax_2{
        height: 135vh;
    }
    .contain{
        position: relative;
            top: -8%;
        width: 50%;
        height: 99vh;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2em 0px;
        margin-left: 2%;
        height: 100%;
    }
    .L{
        grid-template-rows: 1fr 1.5fr repeat(2, 0.4fr 0.3fr) 0.5fr;
    }
    .lnk-img{
        height: 50%;
        width: 50%;
        border-radius: 50%;
    }
    .L-1 { grid-area: 1 / 1 / 2 / 2; }
    .L-2 { grid-area: 2 / 1 / 3 / 2; }
    .L-3 { grid-area: 3 / 1 / 4 / 2; } 

}
