@charset "UTF-8";
	
html, body, h1, h2, h4, h5, h6, ul, li, a, p, article, aside, footer, header, main, nav, section{
    padding: 0;
    margin: 0;
}

body {
	background-color: rgb(128, 128, 128); /* Used if the image is unavailable */
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}

.body, html {
    height: 100%;
}

.main{
 color: rgb(255, 255, 255);
}


.parallax {
    /* The image used */
    background-image: url('clouds-cloudy-conifers-247478.jpg');
    /* Full height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_text{
	background-color: rgba(255, 255, 255, 0.377);
    font-family: 'Nova Flat', cursive;
}

.title_text{
    position: relative;
        top: 351px;
        left: 620px;
    margin-top: 0px;
    width: 170px;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.p_1{
    margin-top: 0px;
    padding-top: 70px;
    padding-left: 70px;
    margin-bottom: 0px;
    height:500px;
    background-image:url("clouds-conifer-daylight-371589.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_1text{
    position: relative;
        top: 100px;
        left: 350px;
    color: rgb(255, 255, 255);
    font-family: 'Nova Flat', cursive;
    width: 660.0px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.267)
}

/* .cloth_sim{
    position: relative;
        top: 5vh;
        left: 30%;
} */
.img-galary{
    height: 95vh;
    width: 90vw;
    position: relative;
        top: 5%;
        left: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 0.5rem;

  }
  
.img-1 { grid-area: 1 / 1 / 3 / 2; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-2 { grid-area: 1 / 2 / 2 / 3; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-3 { grid-area: 1 / 3 / 2 / 5; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-4 { grid-area: 2 / 4 / 3 / 5; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-5 { grid-area: 3 / 4 / 5 / 5; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-6 { grid-area: 4 / 3 / 5 / 4; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.img-7 { grid-area: 4 / 1 / 5 / 3; }
.img-8 { grid-area: 3 / 1 / 4 / 2; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
}
.video { grid-area: 2 / 2 / 4 / 4; 
    width: 100%;
	height: 100%;
	place-self: stretch stretch;
} 

  .grd-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

.p_2{
    height: 1200px;
}

.p_2text{
    position: relative;
        top: 13%;
        left: 35%;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Nova Flat', cursive;
    font-size: 3rem;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.336)
}


