@charset "UTF-8";

/* creates parallax effect */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* title section background */
.parallax_1{
    background-image: url('abandoned-forest-hd-wallpaper-34950.jpg');
    height: 100vh;
}

/* description section background */
.parallax_2{
    background-image: url('clouds-conifer-daylight-371589.jpg');
    background-attachment: scroll;
    height: 40vh;
}

/* page title text style */
.title_text{
    position: relative;
        top: 50%;
    background-color: rgba(255, 255, 255, 0.37);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nova Flat', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3.3rem;
}

/* page description text style */
.p_1text{
    position: relative;
        top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Nova Flat', cursive;
    width: 90%;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.267);
    margin-left: auto;
    margin-right: auto;
}
